@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700;800;900&family=Merriweather:wght@400;700;900&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: rgb(33, 33, 33);
  font-family: 'Fira Sans', sans-serif;
  overflow: hidden;
}


h1 {
  font-size: 4rem;
  color: #f4f4f4;
  font-family: 'Fira Sans', sans-serif;
  line-height: 4.5rem;
  margin: 0;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  letter-spacing: 0.25em;
  color: #cacaca;
}

span.name {
  text-decoration: underline;
  text-decoration-color: orange;
}

.img-container {
  width: 70%;
  height: 34em;
  overflow: hidden;
  margin: 10em auto;
  position: relative;
}

.content {
  width: 100%;
  background: #393939;
  transform: translateY(0);
  transition: transform 1s ease-in-out;
}

.content:hover {
  transform: translateY(-430px);
}

section {
  padding: 4em 8em;
}

section:nth-of-type(2) {
  background: #303059;
  text-align: center;
}

.top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

img {
  width: 20rem;
}

.links {
  display: flex;
  justify-content: space-around;
  margin: 2em;
}

.links a img {
  width: 5rem;
}
