@font-face {
    font-family: "librebaskerville-regular";
    src: url("fonts/librebaskerville/librebaskerville-regular-webfont.woff2") format("woff2"), url("fonts/librebaskerville/librebaskerville-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*
 * Montserrat
================================================================================ */
@font-face {
    font-family: "montserrat-regular";
    src: url("fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("fonts/montserrat/montserrat-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "montserrat-bold";
    src: url("fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"), url("fonts/montserrat/montserrat-bold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/* -------------------------------------------------------------------
 * links - (_document-setup)
 * ------------------------------------------------------------------- */
a, a:visited {
    color: inherit;
    text-decoration: none;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: 0;
    padding: 0;
    font-family: montserrat-bold, sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h01, .h02, .h03, .h04, .h05, .h06 {
    font-family: "montserrat-bold", sans-serif;
    color: white;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 4vw;
}

#button {
    min-width: 145px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
    width: 10vw;
    margin-bottom: 1vh;
}

#home-intro {
    animation: introAnimation 1.5s forwards 0s ease;
}

.header {
    color: white;
    background-color: lightgrey;
    position: absolute;
    top: 1vh;
    right: 1vw;
    padding: 0.5vh;
}

.button-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45vw;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("images/DSCF9691.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    text-shadow: 2px 1px 0px #7A7A7A;
    height: 100vh;
    width: 100vw;
}

.about-content {
    background-color: darkgray;
    height: 100vh;
    width: 100vw;
}

.project-content {
    background-color: white;
    height: 100vh;
    width: 100vw;
    opacity: 1;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    opacity: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card.show {
    animation: cardAnimation 1s forwards 0s ease;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.photos-content {
    background-color: darkslategray;
    height: 100vh;
    width: 100vw;
}

.footer {
    background-color: grey;
    height: 10vh;
}

.highlight {
    color: tomato;
}

@keyframes introAnimation{
    0%{
        transform: rotate(0) translateY(-70%);
        opacity: 0;
    }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
    }
}

@keyframes cardAnimation{
    0%{
        transform: skewX(30deg);
        opacity: 0;
    }
    100%{
        transform: rotate(0) skewX(0deg);
        opacity: 1;
    }
}